{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://c0.wallpaperflare.com/preview/174/844/972/dog-dog-head-light-brown-animal-portrait.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Demo Blog</h1>
            <span class="subheading">Post Whatever You'd Like.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in all_posts %}
        <div class="post-preview">
          <a href="{{ url_for('show_post', index=post.id) }}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{post.parent_author_id.name}}</a>
            on {{post.date}}
            {% if logged_in %}
            <a href="{{url_for('delete_post', post_id=post.id)}}">✘</a>
            {% endif %}
          </p>
        </div>
        <hr>
        {% endfor %}


        <!-- New Post -->
        <div class="clearfix">
          {% if logged_in %}
          <a class="btn btn-primary float-right" href="{{ url_for('make_post') }}">Create New Post</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <hr>

{% include "footer.html" %}