{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}

<!-- Page Header -->
<header class="masthead"
        style="background-image: url('https://i.ytimg.com/vi/7w8HlfC5Mb8/sddefault.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Log In</h1>
                    <span class="subheading">Welcome Back!</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class=error><strong>Error:  </strong>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row">

        <div class="col-lg-8 col-md-10 mx-auto content">
            {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        </div>
    </div>
</div>


{% include "footer.html" %}